*{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
}

.main-container {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #1f1f1f;
    color: #fff;
    padding: 20px;
    position: fixed;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 1000;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #333;
}

.content {
    flex: 1;
    padding: 20px;
}

.page {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    overflow: hidden;
}

.contact-page {
    text-align: center;
    padding: 40px;
}

.contact-form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}
.personal-logo {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 70px; /* ضبط حجم الصورة حسب الحاجة */
    height: auto;
    border-radius: 20%; /* إذا كانت الصورة دائرية */
    border: 2px solid #000000; /* لتحديد حاشية بيضاء حول الصورة */
    z-index: 1500;
    margin-right: 25px;
}
.title{
    font-size: 50px;
    font-weight: 700;
    background-color: #1f1f1f;
    color: #fff;
    margin: 0px auto 10px auto;
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 37em;
}
